.bg-color {
    background-color: burlywood;
    padding: 2px;
}

h1 {
    color: white;
}

ul {
    width: 100%;
    margin: 2rem;
} 

form {
    position: absolute;
    padding: 20px;
    width: 100%;
    bottom: 0px;
}